<!--
	Copy if changes are made to this file, it gets removed on build
-->
<configuration>
	<system.webServer>
		<!-- This sets the handler for the backend app.js file to be node -->
		<handlers>
			<add name="iisnode" path="app.js" verb="*" modules="iisnode"/>
		</handlers>
		<!-- URL Rewrite rules -->
		<rewrite>
			<rules>
				<!-- Redirects all requests from HTTP to HTTPS -->
				<rule name="HTTPS Redirect" stopProcessing="true">
					<match url="(.*)"/>
					<conditions>
						<add input="{HTTPS}" pattern="^OFF$"/>
					</conditions>
					<action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" appendQueryString="false"/>
				</rule>
				<!-- Redirects any api requests to the app.js file, it handles routing internally -->
				<rule name="nodejs">
					<match url="api"/>
					<conditions>
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
					</conditions>
					<action type="Rewrite" url="api/app.js"/>
				</rule>
				<!--
					Redirects any routes that are not static information to the index.html file
					Frontend also handles routing internally
				-->
				<rule name="MainPage">
					<match url="api|static|img|robots|manifest|asset-manifest" negate="true"/>
					<action type="Rewrite" url="index.html"/>
					<conditions>
                    </conditions>
				</rule>
			</rules>
		</rewrite>
		<!-- This hides certain folders if file browsing was enabled on the backend/frontend -->
		<security>
			<requestFiltering>
				<hiddenSegments>
					<add segment="node_modules"/>
					<add segment="iisnode"/>
				</hiddenSegments>
			</requestFiltering>
		</security>
		<!-- This is so the IIS default error pages do not show up where we have error messages -->
		<httpErrors existingResponse="PassThrough"/>
		<!--
			These are the cache policy profiles for our files, location="Any" is needed otherwise
			the Cache-Control header will say "no-cache" whatever the case, this way it shows "public"	
		-->
		<caching>
			<profiles>
				<add extension=".css" policy="CacheUntilChange" kernelCachePolicy="DontCache" location="Any"/>
				<add extension=".js" policy="CacheUntilChange" kernelCachePolicy="DontCache" location="Any"/>
				<add extension=".jpeg" policy="CacheUntilChange" kernelCachePolicy="DontCache" location="Any"/>
				<add extension=".png" policy="CacheUntilChange" kernelCachePolicy="DontCache" location="Any"/>
				<add extension=".jpg" policy="CacheUntilChange" kernelCachePolicy="DontCache" location="Any"/>
				<add extension=".ico" policy="CacheUntilChange" kernelCachePolicy="DontCache" location="Any"/>
			</profiles>
		</caching>
		<!-- Sets the Cache-Control header to max-age:365 days -->
		<!--
		<staticContent>
            <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="365.00:00:00" />
        </staticContent>
		-->
	</system.webServer>
</configuration>