<configuration> 
    <system.webServer>
		<!-- Sets node environmental variables -->
		<iisnode nodeProcessCommandLine="C:\Program Files\nodejs\node.exe --env-file=.env" loggingEnabled="true" devErrorsEnabled="true" maxLogFiles="20" />
        
		<!--This is so backend calls are actually updated after a change happened in the database-->
		<caching enableKernelCache="false" />
     </system.webServer> 
 </configuration>