header {
	min-height: 80px;
	height: 30vh;
	width: 100%;
	background-color: var(--main-background-color);
	color: var(--main-color);
	border-bottom: 1px solid gray;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	background-position-x: left;
	background-position-y: top;
	background-size: cover;
	padding-top: 10px;
}

@media (max-width: 480px) {
	header {
		background-position-x: -160px;
	}
}

.main-link {
	color: var(--secondary-color);
	text-decoration: none;
	font-size: 30px;
	display: inline-block;
}

.main-link:hover {
	text-shadow: -2px 2px 2px #000;
}

#username {
	width: 25vw;
	max-width: 180px;
}

.login-loading {
	display: inline-block;
	padding-right: 5px;
}

.search-container {
	transition: width 1.5s, padding 0.2s, border 1s;
	height: 46px;
	width: 46px;
	padding: 5px 8px;
	background-color: var(--secondary-background-color);
	border: #aaa solid 3px;
	border-radius: 30px;
	display: inline-block;
}

.search-container:hover,
.search-container:focus-within {
	padding: 5px;
	width: 196px;
	border-color: #356de6;
}

.search-input {
	transition: width 1.5s;
	width: 0;
	border: none;
	margin: 0;
	padding: 0;
	height: 30px;
}

.search-input:focus {
	outline: 0;
}

.search-container:hover > .search-input,
.search-container:focus-within > .search-input {
	width: 150px;
}

.search-icon:hover {
	cursor: pointer;
}

.search-container:hover > .search-icon,
.search-container:focus-within > .search-icon {
	transition: color 0.1s;
	color: #356de6;
}
