.vertical-list {
	height: max-content;
	max-width: 200px;
	text-align: right;
	margin-left: auto;
}

.float-right {
	float: right;
}

.home-label {
	font-style: italic;
	font-weight: bold;
	font-size: 30px;
}
