.nav-container {
	/*Minus header and footer height*/
	height: calc(100vh - 30vh - 100px);
	padding-left: 10px;
	/*Minus left padding, right padding and border width*/
	width: calc(14vw + 10px + 30px + 1px);
	max-width: 160px;
	border-right: 1px solid gray;
	background-color: var(--main-background-color);
	color: var(--main-color);
}

/* rotate caret on hover */
.dropdown-menu > li > a:hover:after,
.dropdown > a:hover:after {
	text-decoration: underline;
	transform: rotate(-90deg);
}

.relative-container {
	position: relative;
	min-width: 5vw;
	max-width: 25vw;
	height: 0;
}

.dropdown-menu {
	background-color: var(--main-background-color);
	position: absolute !important;
	left: calc(100%);
	top: calc(-0.5rem - 34px);
	min-width: 5vw;
	width: max-content;
	max-width: 25vw;
}

.dropdown-item,
.nav-link {
	padding-right: 20px;
	position: relative;
	width: -webkit-fill-available;
	text-wrap: pretty;
	word-break: break-all;
}

.navbar-nav li:hover > div > ul.dropdown-menu {
	display: block;
}
